<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Query</title>
    <style>
        header {
    display: flex;
    align-items: center;
    background: navy;
    color: white;
    padding: 10px;
}

header img {
    height: 60px;
    margin-right: 20px;
    display : block;
}
    </style>
</head>
<body>
    <header>
        <img src="/davvLogo2.png" alt="University Logo">
        <h1>Devi Ahilya Vishwavidyalaya, Indore</h1>
    </header>
    <h2><a href="/user/register">Click here to view your eligible NON-CUET courses</a></h2>
</body>
</html>