
.course-card{
   border: 1px solid black !important;
    margin-bottom : 2rem;
 }

 .card-body{ padding : 0 !important; }
 .card-text p { font-weight : 400;}

 .course-link{ text-decoration: none;}

.row{
   display : flex;
   align-items : center;
   justify-content: flex-start;
   flex-wrap: wrap;
}
.card{
   text-align:center;
     
}
 .show-card {
    padding-left: 0;
    padding-right: 0;
  }
  header {
   display: flex;
   align-items: center;
   background: navy;
   color: white;
   padding: 10px;
}

header img {
   height: 60px;
   margin-right: 20px;
}
